.container {
  @include component-container;
  @include center;
  display: flex;
  flex-wrap: wrap;

  .calendarHeader {
    width: 100%;
    h1 {
      @include h1-primary;
      @include center;
    }
  }

  .calendarContainer {
    @include center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    h2 {
      @include h2-primary;
      margin: auto;
      width: 100%;
    }

    .calendarFrame {
      max-width: 60em;
      width: 90%;
      margin: 2rem auto;
      height: 50em;

      @include xs {
        height: 25em;
      }

      @include sm {
        height: 40em;
      }
    }
  }
}
