.heroContainer {
  @include component-container;

  .heroItem {
    @include center;
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
    padding: 0 2em;

    .heroTitle {
      width: 100%;
      h1 {
        @include h1-primary;

        @include xs {
          font-size: 32px;
        }
      }
    }

    .heroSubTitle {
      width: 100%;
      margin-top: 1em;
      h2 {
        @include h2-primary;
      }
    }

    .heroContent {
      width: 100%;
      padding: 2em 0 0 0;
    }

    .heroLink {
      width: 100%;
      padding: 2em 0;
      color: blue;
    }

    .heroVideo {
      width: 100%;

      @include md {
        height: 240px;
      }
      @include lg {
        height: 360px;
      }
      @include xl {
        height: 360px;
      }
    }
  }
}
