.nav {
  padding: 0 3em;
  width: 100%;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background-color: $white;
  color: $dark-blue;
  height: 4rem;
  border-bottom: 3px solid $dark-blue;
  z-index: 200;

  a {
    text-decoration: none;
    color: $dark-blue;
  }

  @include xs {
    padding: 0 1em;
  }

  @include sm {
    padding: 0 1em;
  }
}

.donateContainerMobile {
  display: none;
  justify-content: flex-start;
  height: 100%;

  @include xs {
    display: flex;
    width: 30%;
  }

  @include sm {
    display: flex;
    width: 30%;
  }
}

.donate {
  @include btn-primary;
  background: $dark-blue;
  margin: auto;
  height: 30px;
  font-family: Inter-Bold;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }

  a {
    margin: auto;

    p {
      color: $white;
      font-size: 14px
    }
  }
}

.donateContainer {
  display: inline-flex;
  justify-content: flex-start;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: flex-start;

  .image {
    width: 70px;
    position: relative;
    top: -5px;
    cursor: pointer;
  }

  @include xs {
    width: 40%;
    justify-content: center;
  }

  @include sm {
    width: 40%;
    justify-content: center;
  }

  @include md {
    width: 10%;
    justify-content: flex-start;
  }
}

.branding {
  width: 50%;
  display: flex;
  justify-content: center;
  h1 {
    font-family: Inter-Regular;
    font-size: 1.8em;
    font-weight: 600;
    display: inline-block;
  }

  @include xs {
    display: none;
    width: 60%;
    h1 {
      font-size: 1.5em;
    }
  }

  @include sm {
    display: none;
    width: 60%;
    h1 {
      font-size: 1.5em;
    }
  }

  @include md {
    justify-content: flex-end;
    h1 {
      font-size: 1.5em;
    }
  }
}

.brandingSecondary {
  margin-left: 0.3em;
  color: $yellow;
}

.navItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  height: 100%;
  justify-content: flex-end;

  li {
    box-sizing: border-box;
    text-align: center;
    margin: auto 0;

    Link {
      &:hover {
        border-bottom: solid 2px $dark-blue;

      }
    }

    a {
      margin: 0 0.3em 0 1em;
      font-size: 1.2rem;

      &:hover {
        border-bottom: solid 2px $yellow;
      }

      &:active {
        border-bottom: solid 2px $dark-blue;
      }
    }

  }

  @include xs {
    display:none;
  }

  @include sm {
    display:none;
  }

  @include md {
    display:none;
  }
}

.mobile {
  width: 30%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;

  .mobileButton {
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0;

    .mobileBar {
      width: 2rem;
      height: 3px;
      background: $dark-blue;
    }
  }

  @include xs {
    display: flex;
    width: 30%;
  }

  @include sm {
    display: flex;
    width: 30%;
  }

  @include md {
    display: flex;
    width: 30%;
  }
}


%dropdown {
  display: block;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 0rem;
  margin-top: 3.1rem;
  padding: 10px;
  float: left;
  background-color: $dark-blue;
  border-radius: 5px;
  min-width: 160px;
  font-size: 1em;
  box-shadow: 0px 0px 8px 0px $yellow;
  text-align: left;
  transition: opacity .1s .15s ease-in-out,
    max-height .3s .2s;
  pointer-events: none;

  &>* {
    pointer-events: auto;
    color: $white !important;
    margin: 0.2em 0 0.2em 1em;
  }
}

.aboutDropdown {
  @extend %dropdown;
}

.servicesDropdown {
  @extend %dropdown;
}

.supportDropdown {
  @extend %dropdown;
}

.about {
  &:hover {
    .aboutDropdown {
      display: block;
      opacity: 1;
      transition-delay: 0s;
      max-height: 500px;
    }
  }
}

.services {
  &:hover {
    .servicesDropdown {
      display: block;
      opacity: 1;
      transition-delay: 0s;
      max-height: 500px;
    }
  }
}

.support {
  &:hover {
    .supportDropdown {
      display: block;
      opacity: 1;
      transition-delay: 0s;
      max-height: 500px;
    }
  }
}

.sidedrawer {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 2em 4em;
  text-align: center;
  list-style-type: none;
  background-color: $light-blue;
  z-index: 300;
  left: -100%;

  .drawerToggle {
    color: $white;
    right: -30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    @include h1-primary;
    font-size: 1.5rem !important;
    line-height: 2em;
  }
}

.sidedrawerActive {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
  overflow: scroll;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
