.main {
  background-image: url('/background.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  @include xs {
    background: rgba($light-blue, 0.7);
  }

  @include sm {
    background: rgba($light-blue, 0.7);
  }

  @include md {
    background: rgba($light-blue, 0.7);
  }

  .mainContainer {
    background: rgba($dark-blue, 0.6);
    width: 100%;
  }
}
