.main {
  background-color: white;
  background-image: url('/background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100vh;

  @include xs {
    background: rgba($light-blue, 0.7);
  }

  @include sm {
    background: rgba($light-blue, 0.7);
  }

  @include md {
    background: rgba($light-blue, 0.7);
  }
}
