.container {
  @include component-container;
  @include center;
  display: flex;
  flex-wrap: wrap;

  h1 {
    @include h1-primary;
    width: 100%;
  }

  h2 {
    @include h2-primary;
    width: 100%;
    margin-bottom: 1rem;

    @include xs {
      font-size: 18px;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    @include sm {
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }

  .calendars {
    @include center;
    width: 100%;
    padding: 1rem;

    .calendarList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      width: 100%;
    }
  }

  .partners {
    @include center;
    width: 100%;

    ul {
      @include ul-primary;
    }

    li {
      @include li-primary;
    }
  }

}
