.footer {
  padding: 1rem;
  line-height: 1.2rem;
  font-size: 1rem;
  color: $dark-blue;
  background-color: $white;
  text-align: center;
  width: 100%;
  max-height: 600px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  border-top: 3px solid $dark-blue;

  .footerContainer {
    width: 100%;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    p, a {
      font-size: 12px;
    }

    @include xs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
    }

    .footerLeft {
      float: left;
      width: 33%;
      text-align: left;

      @include xs {
        width: 100%;
        text-align: center;
      }

      @include sm {
        width: 100%;
        text-align: center;
      }
    }

    .footerCenter {
      width: 33%;
      text-align: center;
      color: $white;

      @include xs {
        width: 100%;
        text-align: center;
      }

      @include sm {
        width: 100%;
        text-align: center;
      }

      .icons {
        margin: 2rem 0;
        line-height: 2rem;
        background-color: $dark-blue;
        background-size: contain;

        a {
          padding: 0rem;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          color: $white;
          transition: all 0.5s ease-out;

          &:hover {
            color: $yellow;
            transition: all 0.5s ease-out;
          }

          .fa-icon {
            height: 1em;
            color: $white;
          }

          @include xs {
            &:hover {
              color: $white;
              transition: none;
            }
          }

          @include sm {
            &:hover {
              color: $white;
              transition: none;
            }
          }
        }

        @include sm {
          margin: 2rem 0;
        }
      }
    }

    .footerRight {
      float: right;
      width: 33%;
      text-align: right;

      @include xs {
        width: 100%;
        text-align: center;
      }

      @include sm {
        width: 100%;
        text-align: center;
      }

      a {
        color: $dark-blue;
        text-decoration: underline solid $dark-blue;
      }
    }
  }
}
