.container {
  @include component-container;
  display: flex;
  flex-wrap: wrap;

  h1 {
    @include h1-primary;
    margin: auto;
  }

  h2 {
    @include h2-primary;
    color: $white;
    background: rgba($dark-blue, 0.7);
    border-radius: 5px;
    padding: 3px 0;
  }

  p {
    max-width: 60em;
    margin: 1em auto;
  }

  a {
    color: blue;
  }

  .calendarHead {
    width: 90%;
    @include center;
    .calendarHeadNews {
      h2 {
        @include h2-primary;
        color: $white;
        margin: 1em auto;
        background: none;
      }

      .calendarVideo {
        margin: 1.5em auto;
        width: 100%;

        @include md {
          height: 240px;
        }
        @include lg {
          height: 360px;
        }
        @include xl {
          height: 360px;
        }
      }
    }
  }

  .auction {
    width: 90%;
    @include center;
  }

  .christmas {
    width: 90%;
    @include center;
  }

  .suppers {
    width: 90%;
    @include center;

    h3 {
      @include h2-primary;
      color: $white;
      margin: 1em auto;
      background: none;
    }

    .image {
      margin: auto;
      height: 100%;
      margin-bottom: 1em;

      img {
        border-radius: 10px;
      }
    }
  }

  .path {
    width: 90%;
    @include center;
  }
}
