.container {
  @include component-container;
  flex-direction: column;
  padding: 1rem;

  .header {
    @include center;
    width: 100%;

    h1 {
      @include h1-primary;
      text-transform: capitalize;

      @include xs {
        font-size: 32px;
      }

      @include sm {
        font-size: 32px;
      }
    }

    h2 {
      @include h2-primary;
      color: $white;
      margin: auto;
      margin-bottom: 2em;
    }
  }

  .content {
    @include center;
    line-height: 2.3em;
    width: 100%;

    @include xs {
      line-height: 1.5em;
    }

    @include sm {
      line-height: 1.5em;
    }

    p {
      margin: 0 auto;
    }

    ul {
      @include ul-primary;
      margin-top: 2rem;
    }

    li {
      @include li-primary;
    }
  }
}
